*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  hsl(0, 0% 95%);
    font-size: 15px;
}
main{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
}
div{
    padding: 25px;
}
.top{
    background-color: hsl(31, 77%, 52%);
    color: white;
    width: 100%;
}
.font{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    background-color: hsl(0, 0% 95%);
}
.next{
    padding-bottom: 10px;
    color: hsla(0, 0%, 100%, 0.75);
}
.one{
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0% 95%);
    border-radius: 10px;
}
.two{
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0% 95%);
    border-radius: 10px;
}
.three{
    color: hsl(179,100%, 13%);
    background-color: hsl(0, 0% 95%);
    border-radius: 20px;
}
.middle{
    background-color: hsl(184, 100%, 22%);
    color: white;
    width: 100%;
}
.bottom{
    background-color: hsl(179,100%, 13%);
    color: white;
    width: 100%;
}
@media screen and (max-width:375px) {
    .main{
        flex-direction: column;
    }   
}
@media screen and (min-width:1440px) {
    .main{
        flex-direction: row;
    }   
}